<div>
  <!--Заготовка для списка добавленных слов-->
  <div>
    <p>24 мая 2018</p>
    <p>to apply - добавлять</p>
    <p>education - образование</p>
    <p>to go - идти</p>
    <p>responsible - ответственный</p>
  </div>
  <div>
    <button mat-button (click)="increase($event)">Add New</button>
    <span>Количество кликов: {{count}}</span>
  </div>
  <div>
    <input type="text" #textToTranslate/>
    <button mat-button (click)="translate(textToTranslate.value)">Translate</button>
    <span>Перевод: {{translateResult}}</span>
  </div>
</div>
