<div class="modal-header">
  <h4 class="modal-title">Импорт фильма из базы OMDb</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <h6 class="col">Поиск по:</h6>
    </div>
    <div class="row">
      <div class="col-3">
        <label>ID</label>
        <input [(ngModel)]="searchId" />
      </div>
      <div class="col-3">
        <label>Название</label>
        <input [(ngModel)]="searchTitle" />
      </div>
      <div class="col-3">
        <label>Год</label>
        <input [(ngModel)]="searchYear" />
      </div>
      <div class="col-3 align-self-end">
        <button class="btn btn-outline-primary" (click)="search()">Найти</button>
        <button class="btn btn-outline-secondary ml-1" (click)="reset()">Сброс</button>
      </div>
    </div>
    
    <div *ngIf="!isReset" class="row mt-3">
      <div class="col">
        <h6>Результат:</h6>
        <pre class="json-result">{{searchResponse}}</pre>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" data-dismiss="modal" (click)="import()" [disabled]="!isFound">
    Импортировать
  </button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">
    Закрыть
  </button>
</div>