<!--<div>-->
  <!--<h2>Recently Added</h2>-->
  <!--<app-recently-added></app-recently-added>-->
<!--</div>-->

<!--<div>-->
  <!--<h2>Settings</h2>-->
  <!--<app-settings></app-settings>-->
<!--</div>-->

<!--<div>-->
  <!--<h2>Go</h2>-->
  <!--<app-go></app-go>-->
<!--</div>-->

<h1 class="title">Learn English</h1>
<nav>
  <a routerLink="/recently" routerLinkActive="active">Recently Added</a>
  <a routerLink="/go" routerLinkActive="active">Go</a>
  <a routerLink="/settings" routerLinkActive="active">Settings</a>
</nav>
<router-outlet></router-outlet>
