<h2 mat-dialog-title>Add new word</h2>

<mat-dialog-content>
  <div class="row">
    <div class="col first-col">
      <label>Input English word</label>
    </div>
    <div class="col">
      <input matInput
             [(ngModel)]="translateData.word">
    </div>
    <div class="col">
      <button mat-button (click)="translate(translateData.word)">
        Translate
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col first-col">
      <label>Translated word</label>
    </div>
    <div class="col">
      <input readonly [value]="translateData.translation">
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div>
    <button mat-button [mat-dialog-close]="translateData">OK</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</mat-dialog-actions>


