<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body container">
  <div class="row">
    <label class="col">{{prompt}}</label>
    <div class="col">
      <input [(ngModel)]="myValue" id="result" name="result" 
             class="form-control" #result="ngModel" required/>
      <div [hidden]="result.valid || result.untouched" class="alert alert-danger">
        Заполните поле ввода
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-primary" (click)="ok()"
          [disabled]="result.invalid" >
    ОК
  </button>
  <button class="btn btn-outline-secondary" (click)="cancel()">
    Отмена
  </button>
</div>