<div>
  <p>
    <span>Language:</span>
    <mat-form-field>
      <mat-select>
        <mat-option selected>English</mat-option>
        <mat-option>Russian</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <span>Number of words:</span>
    <select mat-select>
      <option mat-option>10</option>
      <option mat-option>20</option>
      <option mat-option>5</option>
    </select>
  </p>
  <div>
    <button mat-button>Back</button>
    <button mat-button>Save</button>
  </div>
</div>
