<div>
  <p>
    <mat-form-field>
      <mat-select placeholder="Language" [(value)]="selectedLanguage">
        <mat-option *ngFor="let lg of languages" [value]="lg.value">
          {{lg.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-select placeholder="Number of words" [(value)]="selectedNumber">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="20">20</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <div>
    <button mat-raised-button>Back</button>
    <button mat-raised-button>Save</button>
  </div>
</div>