<div class="modal-header" id="aaa">
  <h4 class="modal-title pull-left">Фильм</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body container">
  <div class="row">
    <label class="col">Название</label>
    <div class="col">
      <input class="col" [(ngModel)]="movie.title" #title="ngModel" required/>
      <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
          Не указано название
      </div>      
    </div>
  </div>
  <div class="row mt-1">
    <label class="col">Год выпуска</label>
    <div class="col">
      <input class="col" type="text" [(ngModel)]="movie.year" />
    </div>
  </div>
  <div class="row mt-1">
    <label class="col">Продолжительность, мин</label>
    <div class="col">
      <input class="col" type="text" [(ngModel)]="movie.runtime" />
    </div>
  </div>
  <div class="row mt-1">
    <label class="col">Жанры</label>
    <div class="col">
      <ng-select [items]="genres" [multiple]="true" [closeOnSelect]="false" bindLabel="name" [(ngModel)]="movie.genres">
      </ng-select>
    </div>
  </div>
  <div class="row mt-1">
    <label class="col">Режиссер</label>
    <div class="col">
      <ng-select [items]="directors" bindLabel="name" [(ngModel)]="movie.director">
      </ng-select>
    </div>
  </div>
  <div class="row mt-1">
    <label class="col">Актеры</label>
    <div class="col">
      <input type="text" [(ngModel)]="movie.actors" class="card-input" />
    </div>
  </div>
  <div class="row mt-1">
    <label class="col">Краткое описание</label>
    <div class="col">
      <textarea class="col" [(ngModel)]="movie.plot"></textarea>
    </div>
  </div>
  <div class="row mt-1">
    <label class="col">Постер</label>
    <div class="col content">
      <input type="text" [(ngModel)]="movie.posterUrl" class="card-input" />
      <div class="mt-1">
        <div *ngIf="movie.posterUrl; then hasPosterUrl else noPosterUrl"></div>
        <ng-template #hasPosterUrl>
          <img class="poster-image" [src]="movie.posterUrl">
        </ng-template>
        <ng-template #noPosterUrl>
          <img class="poster-image" [src]="noMoviePath">
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-primary" [disabled]="title.invalid" (click)="ok()">
    ОК
  </button>
  <button class="btn btn-outline-secondary" (click)="cancel()">
    Отмена
  </button>
</div>