<div>
  <label>Название</label>
  <input type="text" />
</div>

<div>
  <label>Год выпуска</label>
  <input type="text" />
</div>

<div>
  <label>Продолжительность, мин</label>
  <input type="text" />
</div>

<div>
  <label>Жанры</label>
  <select multiple></select>
</div>

<div>
  <label>Режиссер</label>
  <input type="text" />
</div>

<div>
  <label>Актеры</label>
  <select multiple></select>
</div>

<div>
  <label>Краткое описание</label>
  <textarea></textarea>
</div>

<div>
  <button>ОК</button>
  <button>Отмена</button>
</div>

