<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-12">
        <pagination [totalItems]="moviesCount" [(ngModel)]="activePage" (pageChanged)="onPageChanged($event)" 
          [maxSize]="5" [boundaryLinks]="false"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>

  <div class="container">
    <ul>
      <li *ngFor="let movie of movies">
        <div class="row">
          <div class="col-lg-4">
            {{movie.id}}&nbsp;-&nbsp;{{movie.title}}
          </div>
          <div class="col-lg-2">
            <button class="btn btn-outline-danger" (click)="deleteMovie(movie.id)">
              Удалить
            </button>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-outline-secondary" (click)="editMovie(movie)">
              Редактировать
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <button class="btn btn-outline-primary" (click)="addMovie()">
      Добавить
    </button>
  </div>
</div>