<div>
  <div class="container">
    <div class="row mt-3">

      <!-- Сортировка -->
      <div class="col-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="sortSelect">Сортировать по</label>
          </div>
          <select id="sortSelect" (change)="sortBy($event.target.value)" [value]="sortOrder">
            <option *ngFor="let so of sortOrders" [value]="so.key">
              {{so.text}}
            </option>
          </select>
        </div>
      </div>

      <!-- Поиск -->
      <div class="col-3 text-left">
        <input type='text' #searchInput (change)="search($event.target.value)" />
        <button class="btn btn-outline-info ml-1" (click)="search(searchInput.value)">Найти</button>
      </div>

      <!-- Постраничный просмотр -->
      <div class="col-3">
        <pagination [totalItems]="moviesCount" [(ngModel)]="activePage" (pageChanged)="onPageChanged($event)" [maxSize]="5" [boundaryLinks]="false"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
      </div>

      <!-- Кнопка добавления нового фильма -->
      <div class="col-2">
        <button class="btn btn-outline-primary" (click)="addMovie()">
          Добавить
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <ul>
      <li *ngFor="let movie of movies">
        <div class="row mt-3">

          <div class="col-10" container>
            <div class="row">
              <div class="col-1">
                <img width="75" height="100" [src]="movie.posterUrl">
              </div>
              <div class="col-10">
                <div>
                  <a href="javascript: void(0)" (click)="editMovie(movie)">{{movie.title}}</a>
                </div>
                <div>{{movie.year}} {{movie.runtime}}мин</div>
                <div>{{movie.plot}}</div>
              </div>
            </div>
          </div>

          <div class="col-1">
            <button class="btn btn-outline-danger" (click)="deleteMovie(movie.id)">
              Удалить
            </button>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-secondary" (click)="editMovie(movie)">
              Редактировать
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>